<!DOCTYPE html>
<html>
<head lang="en">
    <script src="../node_modules/angular/angular.min.js"></script>
    <script>
        angular.module("controllerExampleApp", [])
                .controller("conController", function ($scope) {
                    $scope.student = {
                        firstName: "Piyush",
                        lastName: "Kumar",
                        fullName: function () {
                            var studentObject = $scope.student;
                            return studentObject.firstName + " " + studentObject.lastName;
                        }

                    };
                });
    </script>
</head>
<body ng-app="controllerExampleApp" ng-controller="conController">
<input type="text" ng-model="student.firstName"/> <br>
<input type="text" ng-model="student.lastName"/> <br>
your full name is {{student.fullName()}}

</body>
</html>
